@import '.~@angular/material/theming';

@mixin rad-reset-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$foreground: map-get($theme, foreground);

	.card {
		background-color: mat-color($foreground);
	}

	// side menu drawer backdrop
	.mat-drawer-backdrop.mat-drawer-shown {
		background-color: rgba(0, 0, 0, 0.81);
	}

	a {
		color: mat-color($foreground, text);

		&:hover {
			color: mat-color($accent);
		}
	}
}
