@import "~@angular/material/theming";

$toolbar-breakpoint: 600px;

// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 750px,
  lg: 960px,
  xl: 1280px,
);

$success-color: mat-palette($mat-green, 400);
$warning-color: mat-palette($mat-amber, 400);
