@import '~@angular/material/theming';

@mixin rad-layout-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	.topnav {
		background-color: mat-color($primary) !important;
		color: mat-color($primary, default-contrast) !important;
	}

	.error-notification-overlay {
		color: mat-color($warn, default-contrast);
		background-color: mat-color($warn);
	}

	.info-notification-overlay {
		color: mat-color($accent, default-contrast);
		background-color: mat-color($accent);
	}

	.success-notification-overlay {
		color: mat-color($success-color, default-contrast);
		background-color: mat-color($success-color);
	}

	.warning-notification-overlay {
		color: mat-color($warning-color, default-contrast);
		background-color: mat-color($warning-color);
	}
}
