@import "../../../../styles/variables";

.feat-container {
  height: 100vh;

  .feat-img {
    margin-bottom: 20px;
    left: 0;
    right: 0;
    position: absolute;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}

.post-title h1 {
  font-size: 2.5rem;
  font-weight: 400 !important; //replace default bootstrap
}

.post-meta {
  display: flex;
  margin-bottom: 20px;

  .flex-me {
    display: flex;
  }

  .author-img {
    // margin-bottom: 20px;

    img {
      border: 5px solid #ac0025;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }

  .meta-text {
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    .author-name {
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Ubuntu, Roboto;
    }

    .date-posted {
      font-size: 1rem;
      color: #aaa;
    }
  }

  .meta-icons {
    font-size: 2rem;

    .social {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        padding: 20px;
      }
    }

    .social,
    .social .link {
      padding: 0 10px;
    }
  }
}

.title-spacer {
  margin: 30px 0;
}

// large
@media (min-width: map-get($grid-breakpoints, lg)) {
  .container.custom {
    padding-right: 100px;
    padding-left: 100px;
  }
}

// tablet
@media (max-width: map-get($grid-breakpoints, lg)) {
  .post-title {
    text-align: left;
  }
}

// mobile
@media (max-width: map-get($grid-breakpoints, md)) {
  .header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post-title {
    padding: 0 0 10px 0;

    h1 {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .post-meta {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .meta-text {
      margin-top: 20px;

      .author-name {
        font-size: 1.25rem;
      }
    }

    .meta-icons {
      margin-top: 20px;
    }

    .flex-me {
      flex-direction: column;
    }
  } // end of .post-meta

  .title-spacer {
    display: none;
  }

  .author-img {
    img {
      width: 150px !important;
      height: 150px !important;
    }
  } // end of .post-meta

  .feat-container {
    height: 30vh;

    .feat-img img {
      height: 30vh !important;
    }
  }
}
