@import '~@angular/material/theming';

@mixin rad-footer-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	.footer {
		color: mat-color($primary, lighter);
		background-color: mat-color($primary);

		.links,
		.signature {
			a {
				color: mat-color($primary, lighter);
				&:hover {
					color: mat-color($accent);
				}
			}
		}
	}
}
