<div class="footer">
  <div class="row">
    <div class="col-sm-12 title">
      <span>Follow us on social media</span>
    </div>
    <div class="col-sm-12 links">
      <a href="https://www.github.com/radvil" target="_blank">
        <i class="fab fa-github"></i>
        <span>Github</span>
      </a>
      <a href="https://www.facebook.com/radvilardian" target="_blank">
        <i class="fab fa-facebook"></i>
        <span>Facebook</span>
      </a>
      <a href="https://www.twitter.com/radvilardian" target="_blank">
        <i class="fab fa-twitter"></i>
        <span>Twitter</span>
      </a>
      <a
        href="https://www.youtube.com/channel/UClENBr5CqVmAi0qVO2Wf12w"
        target="_blank"
      >
        <i class="fab fa-youtube"></i>
        <span>Youtube</span>
      </a>
      <a href="https://www.instagram.com/radvilardian" target="_blank">
        <i class="fab fa-instagram"></i>
        <span>Instagram</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 signature">
      &#169; <span class="year">{{ currentYear }}</span> - Radvil Ardian
    </div>
  </div>
</div>
